@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-wine: #460D27;
  --color-berry: #850042;
  --color-mauve: #D295B3;
  --color-blush: #F6C6DE;
  --color-magenta: #FF38A6;
  --color-powder: #AFCCED;
  --color-azure: #42B2FF;
  --color-butter: #FBF191;
  --color-gold: #FFD621;
  --color-cream: #FAF6E3;
  --color-bone: #EDEEE8;
  --color-smoke: #8E9099;
  --color-mint: #8AFFB8;
  /* pendiente de confirmar contra el Sistema Cromático */
  --color-bubblegum: #FE80DE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);
  --font-display: var(--font-big-shoulders);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
